.btn {
  align-items: center;
  margin: 20px;
  align-self: center;
  margin-top: 20%;
  border: none;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  color: beige;
}
#root {
  display: flex;
  justify-content: center;
  height: max-content;
}
html {
  background-color: antiquewhite;
}
