button {
  &:hover {
    cursor: pointer;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  color: rgb(219, 238, 255);

  &-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 77, 77);
    height: max-content;
    border-radius: 10px;
    width: 50%;
  }
  .second-content {
    background-color: aquamarine;
    color: rgb(36, 34, 34);
    button {
      color: black;
    }
  }

  &-header {
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    button {
      background: none;
      border: none;
      font-size: 25px;
      color: aliceblue;
    }
  }
  &-body {
    align-items: center;
    text-align: center;
    padding-top: 5%;
    width: 60%;
    align-self: center;
    font-size: 20px;
  }
  &-footer {
    align-self: center;
    margin-top: 10%;
    button {
      background-color: rgba(0, 0, 0, 0.3);
      border: none;
      font-size: 25px;
      color: aliceblue;
      margin: 10px;
      border-radius: 5px;
      width: 100px;
      height: 50px;
    }
    padding-bottom: 20px;
  }
}
